#main{
	margin: 0;
	padding: 0;
	color: white;
	font-family: century gothic;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(hacker.jpg);
height: 100vh;
background-size: cover;
background-position: center;

}
#ul1{
float: right;
margin-top: 25px;
}
#ul1 li {
	display:inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 5px;

}
ul li a:hover{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 5px;
	background: white;
	color: black;
}
#logo img {

float: left;
width: 100px;
height: 70px;
border: 1px solid green;
margin-top: 10px;
border-radius: 10px;
background: white;

}
#main{
	max-width: 1200px;
	margin: auto;
}
#text{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

}
#text h1{
color: white;
	border: 1px solid white;
	padding:1 px;
	font-size: 70px;
	border-radius: 5px;
}
#button{
	position: absolute;
	top: 65%;
	left:50%;
	transform: translate(-50%,-50%);

}
.dot{
	border: 1px solid white;
	padding: 5px 5px;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}
.bon{
	border: 1px solid white;
	padding: 5px 5px;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}
.dot:hover{
background: #fff;
color: black;
}
.bon:hover{
	background: #fff;
	color: black;
}

footer{
	background-color: black;
	height: 100px;

}
footer h4{
	color: white;
	margin-left: 35%;
}
#kumar{
	height: auto;
	background-color: gray;
	color: white;
	border: 1px solid gray;
	padding: 8px;
	text-indent: 50px;
}
#sadhon{
	width: 30%;
	margin-left: 25%;
	margin-right: auto;
	display: block;

}
#kumar h3{
	margin-left: 38%;
	color: #4caf50;
}